<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.envisioniot.uscada.monitor.transfer.mapper.mysql.DockerMysqlMapper">
    <insert id="insertBatch">
        INSERT IGNORE INTO monitor_docker_info
        (host_ip,container_id,container_name,image,create_time,uptime,container_create_time,status) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{host_ip},#{item.id},#{item.name},#{item.image},now(),#{item.upTime},#{item.containerCreateTime},#{item.status})
        </foreach>
    </insert>

    <insert id="batchForUpdate">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT INTO monitor_docker_info
            (host_ip,container_id,container_name,status,uptime,container_create_time,mem_per,cpu_per,net_io_send,net_io_receive,block_io_read,block_io_write,pids,msg,image,occur_time,create_time) VALUES (
            #{host_ip},
            #{item.id},
            #{item.name},
            #{item.status},
            #{item.upTime},
            #{item.containerCreateTime},
            #{item.memPer},
            #{item.cpuPer},
            #{item.netIoSend},
            #{item.netIoReceive},
            #{item.blockIoRead},
            #{item.blockIoWrite},
            #{item.pids},
            #{item.msg},
            #{item.image},
            #{item.occurTime},
            now())
            ON DUPLICATE KEY UPDATE
            container_name=#{item.name},
            status=#{item.status},
            uptime=#{item.upTime},
            container_create_time=#{item.containerCreateTime},
            mem_per=#{item.memPer},
            cpu_per=#{item.cpuPer},
            net_io_send=#{item.netIoSend},
            net_io_receive=#{item.netIoReceive},
            block_io_read=#{item.blockIoRead},
            block_io_write=#{item.blockIoWrite},
            pids=#{item.pids},
            msg=#{item.msg},
            image=#{item.image},
            occur_time=#{item.occurTime},
            update_time=now()
        </foreach>
    </insert>
</mapper>