<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.envisioniot.uscada.monitor.transfer.mapper.fdb.write.AppFWMapper">

    <insert id="insert">
        INSERT OR IGNORE INTO monitor_app_info (host_ip,app_pid,app_uid,app_name,create_time) VALUES
        <foreach collection="app_list" item="item" index="index" separator=",">
            (#{host_ip},#{item.appPid},#{item.appUid},#{item.appName},datetime('now', 'localtime'))
        </foreach>
    </insert>

    <update id="update_update_first">
        UPDATE monitor_app_info set app_pid = #{item.appPid}, status = #{item.status}, start_time = #{item.startTime}, mem_per = #{item.memPer}, mem_use = #{item.memUse}, cpu_per = #{item.cpuPer}, io_read = #{item.diskIoRead}, io_write = #{item.diskIoWritten}, occur_time = #{item.occurTime}, update_time = datetime('now', 'localtime'), thread_num = #{item.threadNum}
        where host_ip = #{host_ip}
          and app_uid = #{item.appUid}
    </update>

    <insert id="update_insert_iffail">
        INSERT INTO monitor_app_info (host_ip, app_pid, app_uid, app_name, status, start_time, mem_per, mem_use, cpu_per, io_read, io_write, occur_time, update_time, create_time, thread_num)
        VALUES (#{host_ip}, #{item.appPid}, #{item.appUid}, #{item.appName}, #{item.status}, #{item.startTime}, #{item.memPer}, #{item.memUse}, #{item.cpuPer}, #{item.diskIoRead}, #{item.diskIoWritten}, #{item.occurTime}, datetime('now', 'localtime'), datetime('now', 'localtime'),#{item.threadNum})
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE monitor_app_info
            <set>
                app_pid = #{item.appPid},
                status = #{item.status},
                start_time = #{item.startTime},
                mem_per = #{item.memPer},
                mem_use = #{item.memUse},
                cpu_per = #{item.cpuPer},
                io_read = #{item.diskIoRead},
                io_write = #{item.diskIoWritten},
                occur_time = #{item.occurTime},
                update_time = datetime('now', 'localtime'),
                msg = #{item.msg}
            </set>
            WHERE host_ip = #{host_ip} and app_uid = #{item.appUid}
        </foreach>
    </update>

    <insert id="batchForUpdate_update_first">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE monitor_app_info SET app_pid = #{item.appPid}, status = #{item.status}, start_time = #{item.startTime}, mem_per = #{item.memPer}, mem_use = #{item.memUse}, cpu_per = #{item.cpuPer}, io_read = #{item.diskIoRead}, io_write = #{item.diskIoWritten}, msg = #{item.msg}, occur_time = #{item.occurTime}, thread_num = #{item.threadNum}, update_time = datetime('now', 'localtime')
            WHERE host_ip = #{host_ip}
            and app_uid = #{item.appUid}
        </foreach>
    </insert>

    <insert id="batchForUpdate_insert_later">
        <foreach collection="list" item="item" index="index" separator=";">
            INSERT OR IGNORE INTO monitor_app_info (host_ip, app_pid, app_uid, app_name, status, start_time, mem_per, mem_use, cpu_per, io_read, io_write, msg, occur_time, thread_num, create_time)
            VALUES (
            #{host_ip},
            #{item.appPid},
            #{item.appUid},
            #{item.appName},
            #{item.status},
            #{item.startTime},
            #{item.memPer},
            #{item.memUse},
            #{item.cpuPer},
            #{item.diskIoRead},
            #{item.diskIoWritten},
            #{item.msg},
            #{item.occurTime},
            #{item.threadNum},
            datetime('now', 'localtime'))
        </foreach>
    </insert>
</mapper>